# 공공데이터포털 API 인증 정보 템플릿 (Public Data Portal API Credentials Template)
# 이 파일을 '.env'로 복사한 뒤 실제 API 엔드포인트와 인증키를 입력하여 사용하세요.

# ====================================================================
# 1. 한국전력거래소_오늘전력수급현황조회
# ====================================================================
KPX_TODAY_POWER_STATUS_ENDPOINT=https://apis.data.go.kr/B552115/Sukub5mToday
KPX_TODAY_POWER_STATUS_ENCODING_KEY=
KPX_TODAY_POWER_STATUS_DECODING_KEY=

# ====================================================================
# 2. 한국전력거래소_현재전력수급현황조회
# ====================================================================
KPX_CURRENT_POWER_STATUS_ENDPOINT=http://apis.data.go.kr/B552115/sukub/sukubRealtime
KPX_CURRENT_POWER_STATUS_ENCODING_KEY=
KPX_CURRENT_POWER_STATUS_DECODING_KEY=

# ====================================================================
# 3. 한국전력거래소_현재전력수급현황조회_GW
# ====================================================================
KPX_CURRENT_POWER_STATUS_GW_ENDPOINT=http://apis.data.go.kr/B552115/sukub5mMaxDatetime2
KPX_CURRENT_POWER_STATUS_GW_ENCODING_KEY=
KPX_CURRENT_POWER_STATUS_GW_DECODING_KEY=
